/* header{
    background-color:coral;
    display: flex;
    padding: 30px 20px 30px;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    font-weight: bolder;
   
}
.menuitem{
    padding-right: 20px;
    font-size: 30px;
}
div.head{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
.heading{
    background-color:brown ;
    padding: 40px 20px 30px;
   
    color:black
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.head:hover{
    color: black;
} */
body{
    background:lightblue;
    padding:40px 40px 40px;
    
}
